<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.0.9" targetFramework="net451" />
  <package id="WebSharper" version="2.5.119.54" targetFramework="net40" />
  <package id="WebSharper.Piglets" version="0.1.90.149" targetFramework="net451" />
  <package id="WebSharper.UI.Next" version="0.1.14.15" targetFramework="net451" />
</packages>